.superinfo-bg {
  background: var(--cor-bg-SI);
  color: var(--color-c-bg);
}

.superinfo {
  padding-top: 10px;
  justify-content: space-between;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: var(--color-c-bg);
}
